body {
  background: #D6EFED;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
  font-size: 2rem;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #B2B2B2;
  border-width: 8px;
  width: 5%;
  margin: 50px auto 50px auto;
}
p {
    line-height: 2;

}
a:hover {
  color: #EAF6F6;
}
.top-container {
  background-color: #DFF6FF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #66BFBF;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

#mypic {
  width: 150px;
  border-radius: 40%;
}


.skill-row {
  width: 55%;
  margin: 150px auto;
}
.administrator-img {
  width: 28%;
  border-radius: 8px;
  float: left;
  margin-right: 30px;
}
.engineer-img {
  width: 25%;
  border-radius: 8px;
  float: right;
  margin-left: 30px;
}

.developer-img {
  width: 25%;
  height: 200px;
  border-radius: 8px;
  float: left;
  margin-right: 30px;
}
.security-img {
  width: 24%;
  border-radius: 8px;
  float: right;
  margin-left: 30px;
}
.footer-link {
  color: #11999E;
  margin: auto 20px auto 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e9);
  -webkit-border-radius: 88;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
  font-weight: normal;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cbd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
  line-height: 3;
  font-weight: bold;
}

.copyright-text {
  color: #EAF6F6;
  font-size: 0.75rem;

}

.intro {
  width: 40%;
  margin: auto;
}
.get-in-touch {
  width: 30%;
  margin: auto auto 40px auto;
}
.skill-intro {
  text-align: justify;
  margin: auto;
}
